
          <div class="collapse" id="education">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'BYU.jpeg', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Graduated the Marriot Business School of Brigham Young Univeristy with a bachelors of science with an emphisis in real estate investment.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'bottega.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  Graduated from Bottega Tech part of the technical arm of Utah Valley University.
                </div>
              </div>
            </div>
          </div>
