
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'Marcus & Millichap.jpg', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong>AGENT</strong> - Multi-Family commercial real estate agent. Prepared sales agreements and sales proposals with deep analysis of condition, location, demand, investment return indicators. Sellers were able to get the highest price, with the best terms, in the least amount of time.
                </div>
              </div>
            </div>
            <div class="card card-block">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'State_Farm.png', width: '100%' %>
                </div>
                <div class="col-md-9">
                  <strong> Sales </strong> - Sold insurance products such as auto, health, life, and bank. Also, passed the series 7 and series 66 for investment advisor qualification.
                </div>
              </div>
            </div>
          </div>
            
            
